
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

body {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
}
#video_intro_container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 3;
  opacity: 1;
  transition: opacity 0.7s ease;
}
#video_intro_container.hide {
  opacity: 0;
}
#video_intro_elem{
  max-width: 100vw;
  max-height: 100vh;
}

#main_screen {
  display: flex;
  flex-direction: column;
  background: #07263b;
  width: 100vw;
  height: 100vh;
}
#main_screen>iframe {
  flex-grow: 1;
}
#message {
  height: 10em;
  width: 80vw;
  padding: 1em;
  display: flex;
  align-items: center;
  align-self: center;
  color: #ededed;
}

#message p {
  margin: auto;
}
#message p a {
  color: #ddd;
  font-size: 8pt;
  font-style: italic;
}

#message>p.downloading {
  flex-grow: 1;
}
#message>p.downloading>span {
  text-align: center;
}

svg .progressBar {
  transition: width 0.2s ease;
}
svg text {
  animation: blinker 1s linear infinite;
}

#categoryDL {
  font-size: 1.2em;
  color: #f04e51;
}
#fileDL {
  font-style: italic;
}
#message>p>span {
  animation: 1s fadeInUp;
  display: block;
}
#message span.btnContainer {
  text-align: center;
}
#message span.btnContainer>button {
  padding: 0.5em;
  margin: 0.5em 1em;
}

/* Play button */
#play_btn>svg {
  max-height: 10em;
}
#state_defs>g.hide {
  opacity: 0;
}
#state_defs>g {
  opacity: 1;
}
#state_0 {
  transition: opacity 0.1s;
}
#state_defs use{
  width: 100%;
  height: 100%;
  display: inline;
}
#animatedCircle {
  r: 0mm;
  transition: all 0.4s;
}
#animatedCircle.big {
  r: 3mm;
  stroke-width: .7mm;
}
#animatedCircle.final {
  r: 3.3mm;
  stroke-width: 0mm;
  opacity: 0.2;
}

#ene {
  position: absolute;
  top: 0;
  bottom: 0;
}
@media screen and (max-width: 600px) {
  #message {
    flex-direction: column-reverse;
    overflow: auto;
  }
}
