
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

body {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
}

#main_screen {
  display: flex;
  flex-direction: column;
  background: #07263b;
  width: 100vw;
  height: 100vh;
}
#main_screen>iframe {
  flex-grow: 1;
}
#message {
  height: 10em;
  width: 80vw;
  padding: 1em;
  display: flex;
  align-items: center;
  align-self: center;
  color: #ededed;
}

#message p {
  margin: auto;
}

#message>p.downloading {
  flex-grow: 1;
}
#message>p.downloading>span {
  text-align: center;
}

svg .progressBar {
  transition: width 0.2s ease;
}
svg text {
  animation: blinker 1s linear infinite;
}

#categoryDL {
  font-size: 1.2em;
  color: #f04e51;
}
#fileDL {
  font-style: italic;
}
#message>p>span {
  animation: 1s fadeInUp;
  display: block;
}
#message span.btnContainer {
  text-align: center;
}
#message span.btnContainer>button {
  padding: 0.5em;
  margin: 0.5em 1em;
}

#ene {
  position: absolute;
  top: 0;
  bottom: 0;
}
@media screen and (max-width: 600px) {
  #message {
    flex-direction: column-reverse;
    overflow: auto;
  }
}
